<h1>Home#show</h1>
<p>Find me in app/views/home/show.html.erb</p>
<p>
  <b>user id:</b>
  <%= session[:user_id] if session[:user_id]%>
</p>
<p>
  <b>email:</b>
  <%= session[:email] if session[:email]%>
</p>
